{% extends "busker/base.html" %}
{% block html_title %}Redeem Code for {{ code.batch.work.artist.name }} - {{ code.batch.work.title }}{% endblock %}
{% block page_title %}{{ code.batch.work.artist.name }} - {{ code.batch.work.title }}{% endblock %}
{% block content %}
{% if code.remaining_uses <= 0 %}
<h2>Code Expired</h2>
{% else %}
<h2>Redeem Code</h2>
{% endif %}
<form action="{% url 'busker:redeem' form.code.value %}" method="POST">
    {% csrf_token %}
    {% if code.max_uses == 0 %}
        <p>This code entitles you to unlimited downloads.</p>
    {% elif code.remaining_uses > 0 %}
        <p>This code has {{ code.remaining_uses }} use{{ code.remaining_uses|pluralize }} left.
        Are you sure you want to redeem it now?</p>
        {{ form.as_p }}
        <input type="submit" value="Continue">
    {% else %}
        This code has already been used.
    {% endif %}
</form>
{% endblock %}